In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns

In [2]:
dt = pd.read_csv('/Users/jiawenli/Desktop/MBAN_6110T/Class_4/new_data.csv')

In [3]:
dt = pd.DataFrame(dt)
dt.head(10)

,Unnamed: 0,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,1,2019-11-01 00:00:00 UTC,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2,2019-11-01 00:00:01 UTC,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387
3,3,2019-11-01 00:00:01 UTC,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,4,2019-11-01 00:00:01 UTC,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2
5,5,2019-11-01 00:00:01 UTC,view,1306894,2053013558920217191,computers.notebook,hp,360.09,520772685,816a59f3-f5ae-4ccd-9b23-82aa8c23d33c
6,6,2019-11-01 00:00:01 UTC,view,1306421,2053013558920217191,computers.notebook,hp,514.56,514028527,df8184cc-3694-4549-8c8c-6b5171877376
7,7,2019-11-01 00:00:02 UTC,view,15900065,2053013558190408249,NaN,rondell,30.86,518574284,5e6ef132-4d7c-4730-8c7f-85aa4082588f
8,8,2019-11-01 00:00:02 UTC,view,12708937,2053013553559896355,NaN,michelin,72.72,532364121,0a899268-31eb-46de-898d-09b2da950b24
9,9,2019-11-01 00:00:02 UTC,view,1004258,2053013555631882655,electronics.smartphone,apple,732.07,532647354,d2d3d2c6-631d-489e-9fb5-06f340b85be0

Insights from the price column

In [4]:
dt['price'].describe()

count    1.000000e+07
mean     2.925741e+02
std      3.538111e+02
min      0.000000e+00
25%      6.667000e+01
50%      1.653100e+02
75%      3.654600e+02
max      2.574070e+03
Name: price, dtype: float64

In [5]:
dt.groupby('category_code').describe()

                     Unnamed: 0                                       \
                          count          mean           std      min
category_code
accessories.bag         45538.0  5.128967e+06  2.886887e+06     90.0
accessories.umbrella      927.0  4.743570e+06  2.803042e+06  19634.0
accessories.wallet      10496.0  5.016353e+06  2.791958e+06   1504.0
apparel.belt              671.0  5.372424e+06  2.894566e+06  25068.0
apparel.costume         44192.0  5.217024e+06  2.907924e+06    259.0
...                         ...           ...           ...      ...
sport.ski                1303.0  4.711002e+06  2.686582e+06  13605.0
sport.snowboard          1756.0  5.547192e+06  2.803480e+06   3947.0
sport.tennis             1043.0  5.880677e+06  2.895192e+06  40429.0
sport.trainer           10350.0  5.051604e+06  2.925560e+06   3242.0
stationery.cartrige      1922.0  4.940659e+06  2.831344e+06  35730.0

                                                                   product_id  \
                             25%        50%         75%        max      count
category_code
accessories.bag       2663023.00  5179720.0  7704198.00  9999809.0    45538.0
accessories.umbrella  2615173.50  4589240.0  7389555.00  9998054.0      927.0
accessories.wallet    2640171.00  4989074.5  7376312.25  9992698.0    10496.0
apparel.belt          2694538.00  5377200.0  7946595.00  9984683.0      671.0
apparel.costume       2745425.25  5342097.5  7725945.75  9999933.0    44192.0
...                          ...        ...         ...        ...        ...
sport.ski             2386281.50  4681753.0  6910052.00  9976534.0     1303.0
sport.snowboard       3227796.25  5680376.5  7940807.75  9990391.0     1756.0
sport.tennis          3633995.00  6008264.0  8629205.50  9973899.0     1043.0
sport.trainer         2611849.50  4982895.0  7653927.00  9992544.0    10350.0
stationery.cartrige   2493883.75  4744474.0  7442437.00  9995247.0     1922.0

                                    ...   price           user_id  \
                              mean  ...     75%      max    count
category_code                       ...
accessories.bag       3.046030e+07  ...   76.96  1717.16  45538.0
accessories.umbrella  2.970002e+07  ...   17.76    25.71    927.0
accessories.wallet    2.830053e+07  ...   68.99   429.87  10496.0
apparel.belt          2.850006e+07  ...   52.51   252.52    671.0
apparel.costume       5.289902e+07  ...  111.95   244.54  44192.0
...                            ...  ...     ...      ...      ...
sport.ski             2.056710e+07  ...  403.87  1286.78   1303.0
sport.snowboard       2.958981e+07  ...  298.33   669.00   1756.0
sport.tennis          4.290590e+07  ...  105.16   257.15   1043.0
sport.trainer         2.710389e+07  ...  496.79  2479.47  10350.0
stationery.cartrige   2.640739e+07  ...   31.38   699.35   1922.0

                                                                             \
                              mean           std          min           25%
category_code
accessories.bag       5.319702e+08  1.942865e+07  412240622.0  5.148025e+08
accessories.umbrella  5.352871e+08  1.904689e+07  451712283.0  5.159030e+08
accessories.wallet    5.334598e+08  1.966570e+07  438574654.0  5.144459e+08
apparel.belt          5.333661e+08  1.931329e+07  512423179.0  5.162422e+08
apparel.costume       5.360616e+08  1.984010e+07  383785169.0  5.164783e+08
...                            ...           ...          ...           ...
sport.ski             5.275884e+08  1.803431e+07  512368038.0  5.140617e+08
sport.snowboard       5.294251e+08  1.831165e+07  512381419.0  5.146836e+08
sport.tennis          5.328531e+08  2.121895e+07  460268210.0  5.143173e+08
sport.trainer         5.312023e+08  1.898176e+07  405808193.0  5.151733e+08
stationery.cartrige   5.344933e+08  2.033532e+07  452690173.0  5.149349e+08


                              50%          75%          max
category_code
accessories.bag       523283775.0  549140673.0  568421299.0
accessories.umbrella  531370033.0  552428120.0  568277022.0
accessories.wallet    527676886.0  550786049.5  568406167.0
apparel.belt          525507349.0  549789013.0  568277261.0
apparel.costume       532076667.0  555208802.0  568421620.0
...                           ...          ...          ...
sport.ski             517446806.0  539957978.0  568405820.0
sport.snowboard       520155712.5  542774102.0  568405820.0
sport.tennis          522520207.0  553214297.0  568304825.0
sport.trainer         523067823.0  545557424.0  568413567.0
stationery.cartrige   530209029.0  553797645.0  568378210.0

[126 rows x 40 columns]

In [6]:
dt.groupby('category_code')['price'].describe()

,count,mean,std,min,25%,50%,75%,max
category_code,,,,,,,,
accessories.bag,45538.0,65.168970,99.975629,0.00,21.49,42.17,76.96,1717.16
accessories.umbrella,927.0,18.733948,2.602477,17.76,17.76,17.76,17.76,25.71
accessories.wallet,10496.0,62.284916,54.681362,0.00,36.04,46.33,68.99,429.87
apparel.belt,671.0,55.227586,68.199021,15.19,25.74,25.74,52.51,252.52
apparel.costume,44192.0,89.013297,45.333493,0.00,51.48,76.96,111.95,244.54
...,...,...,...,...,...,...,...,...
sport.ski,1303.0,329.580092,232.147943,32.43,192.80,282.89,403.87,1286.78
sport.snowboard,1756.0,228.108986,137.001943,50.45,118.15,208.50,298.33,669.00
sport.tennis,1043.0,77.218552,61.481706,5.92,30.63,57.66,105.16,257.15
sport.trainer,10350.0,382.207353,393.070976,0.00,180.42,254.83,496.79,2479.47
stationery.cartrige,1922.0,27.734277,46.426591,0.00,8.18,12.84,31.38,699.35

Check out the brands

In [7]:
dt.groupby('brand').describe()

                   Unnamed: 0                                         \
                        count          mean           std        min
brand
a-case                 1441.0  5.114335e+06  2.916204e+06     1904.0
a-derma                  76.0  5.306092e+06  2.715100e+06   189844.0
a-elita                  34.0  6.131913e+06  2.630563e+06   504858.0
a-mega                  126.0  5.781535e+06  2.733993e+06   815237.0
aardwolf                 10.0  3.709612e+06  1.956509e+06  1499310.0
...                       ...           ...           ...        ...
zvezda                    5.0  4.569069e+06  2.461547e+06  1780930.0
zwerg                     2.0  7.250872e+06  1.755640e+06  6009447.0
zwilling                  5.0  8.027321e+06  1.043527e+06  7083172.0
zwillingjahenckels      100.0  6.641179e+06  2.323182e+06  1130506.0
zyxel                    82.0  4.946946e+06  3.162573e+06   210855.0

                                                                 product_id  \
                           25%        50%         75%        max      count
brand
a-case              2578178.00  5210875.0  7749959.00  9992149.0     1441.0
a-derma             2887362.25  5261145.5  7648901.75  9891869.0       76.0
a-elita             4300603.00  6013921.5  8284192.25  9825901.0       34.0
a-mega              2949894.75  6464164.0  8820649.75  9919285.0      126.0
aardwolf            2571967.75  3396174.0  4235011.50  8590681.0       10.0
...                        ...        ...         ...        ...        ...
zvezda              2173727.00  5337951.0  6334807.00  7217930.0        5.0
zwerg               6630159.50  7250872.0  7871584.50  8492297.0        2.0
zwilling            7695773.00  7744123.0  7792083.00  9821455.0        5.0
zwillingjahenckels  5251283.25  7248204.0  8432731.00  9748161.0      100.0
zyxel               2197887.25  4675893.5  7384375.75  9912492.0       82.0

                                  ...      price          user_id  \
                            mean  ...        75%      max   count
brand                             ...
a-case              1.800135e+07  ...     7.7000   154.44  1441.0
a-derma             1.807203e+07  ...    16.4700    21.88    76.0
a-elita             3.290009e+07  ...    73.2800    73.28    34.0
a-mega              1.520017e+07  ...    72.0700   218.80   126.0
aardwolf            3.090109e+07  ...    79.1500    79.15    10.0
...                          ...  ...        ...      ...     ...
zvezda              1.010138e+07  ...    45.1700    45.17     5.0
zwerg               9.101216e+06  ...    29.2625    35.23     2.0
zwilling            3.160059e+07  ...   246.3600   246.36     5.0
zwillingjahenckels  1.610097e+07  ...  1081.4400  1081.44   100.0
zyxel               7.600244e+06  ...   206.9800   688.24    82.0

                                                                           \
                            mean           std          min           25%
brand
a-case              5.424461e+08  2.103126e+07  493888206.0  5.189398e+08
a-derma             5.295175e+08  2.099913e+07  480140601.0  5.147534e+08
a-elita             5.291119e+08  1.764285e+07  512413168.0  5.139984e+08
a-mega              5.284448e+08  1.543516e+07  512367362.0  5.161971e+08
aardwolf            5.220491e+08  1.402992e+07  513718697.0  5.157743e+08
...                          ...           ...          ...           ...
zvezda              5.396395e+08  2.366351e+07  513604709.0  5.146573e+08
zwerg               5.497391e+08  3.561045e+06  547221095.0  5.484801e+08
zwilling            5.326747e+08  1.163001e+07  516505497.0  5.291313e+08
zwillingjahenckels  5.349371e+08  2.124343e+07  512384367.0  5.144897e+08
zyxel               5.401228e+08  1.927892e+07  512849380.0  5.230398e+08


                            50%           75%          max
brand
a-case              546075565.0  5.640992e+08  568412138.0
a-derma             523977846.5  5.346572e+08  567474494.0
a-elita             523345722.0  5.381097e+08  566038737.0
a-mega              520980917.0  5.384457e+08  567453877.0
aardwolf            518289403.5  5.192830e+08  560959712.0
...                         ...           ...          ...
zvezda              551298272.0  5.556126e+08  563024586.0
zwerg               549739134.0  5.509982e+08  552257173.0
zwilling            529699224.0  5.433850e+08  544652473.0
zwillingjahenckels  526162720.0  5.545659e+08  568235206.0
zyxel               535094976.0  5.649848e+08  567866550.0

[3373 rows x 40 columns]

In [8]:
dt.groupby('event_type').describe()

           Unnamed: 0                                                 \
                count          mean           std    min         25%
event_type
cart         121767.0  4.778071e+06  2.878100e+06   40.0  2182033.50
purchase     147105.0  4.913800e+06  2.906522e+06  107.0  2272596.00
view        9731128.0  5.004080e+06  2.886431e+06    0.0  2506704.75

                                             product_id                ...  \
                  50%         75%        max      count          mean  ...
event_type                                                             ...
cart        4793647.0  7168873.00  9999999.0   121767.0  3.066193e+06  ...
purchase    4989481.0  7328581.00  9999960.0   147105.0  7.071879e+06  ...
view        5003544.5  7505759.25  9999998.0  9731128.0  1.115874e+07  ...

             price             user_id                              \
               75%      max      count          mean           std
event_type
cart        453.14  2545.33   121767.0  5.400275e+08  2.052338e+07
purchase    361.30  2574.07   147105.0  5.396240e+08  2.034561e+07
view        363.72  2574.07  9731128.0  5.353082e+08  2.035726e+07


                    min          25%          50%          75%          max
event_type
cart        226242984.0  518626504.0  541087191.0  561054038.5  568421286.0
purchase    253299396.0  518416320.0  540484192.0  560242247.0  568421286.0
view         10300217.0  515957135.0  530381427.0  554675139.0  568422587.0

[3 rows x 40 columns]

In [9]:
dt.groupby('event_type').groups

{'cart': [40, 502, 537, 849, 956, 970, 1072, 1189, 1286, 1363, 1376, 1484, 1576, 1633, 1697, 1745, 1822, 2018, 2049, 2099, 2138, 2188, 2233, 2275, 2307, 2328, 2377, 2397, 2628, 2707, 2814, 2969, 3003, 3087, 3111, 3118, 3142, 3165, 3300, 3539, 3548, 3591, 3743, 3808, 3826, 3979, 4469, 4663, 4678, 4733, 4765, 4944, 5081, 5171, 5295, 5351, 5430, 5651, 5828, 5868, 5907, 6132, 6144, 6206, 6297, 6546, 6621, 6702, 6746, 6811, 6856, 6882, 6943, 6949, 6987, 7067, 7107, 7244, 7388, 7409, 7507, 7800, 8076, 8262, 8489, 8550, 8560, 8656, 9412, 9590, 9592, 9799, 9866, 10019, 10136, 10165, 10419, 10461, 10670, 10841, ...], 'purchase': [107, 168, 707, 811, 939, 942, 1107, 1387, 1490, 1563, 1584, 1626, 1630, 1657, 1735, 1747, 1813, 1934, 1951, 2005, 2008, 2215, 2274, 2309, 2421, 2662, 2792, 2856, 2917, 2974, 3080, 3083, 3093, 3140, 3212, 3289, 3387, 3512, 3723, 3730, 3883, 3949, 3965, 3982, 4025, 4106, 4253, 4467, 4504, 4511, 4605, 4831, 4860, 4987, 5013, 5020, 5154, 5225, 5284, 5289, 5320, 5451, 5475, 5493, 5498, 5698, 5715, 5853, 5893, 5900, 6198, 6209, 6292, 6523, 6568, 6676, 6680, 6755, 6784, 6834, 6915, 6954, 7223, 7326, 7422, 7515, 7573, 7629, 7855, 7998, 8346, 8593, 8600, 8817, 8914, 8998, 9316, 9360, 9398, 9399, ...], 'view': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, ...]}

In [10]:
dt['event_type'].value_counts()

view        9731128
purchase     147105
cart         121767
Name: event_type, dtype: int64

Check out how many products were put into the cart and never got purchased

In [11]:
dt1 = pd.DataFrame(dt[dt['event_type']=='cart'])
dt1.head()

,Unnamed: 0,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
40,40,2019-11-01 00:00:14 UTC,cart,1005014,2053013555631882655,electronics.smartphone,samsung,503.09,533326659,6b928be2-2bce-4640-8296-0efdf2fda22a
502,502,2019-11-01 00:03:24 UTC,cart,1801881,2053013554415534427,electronics.video.tv,samsung,488.80,557746614,4d76d6d3-fff5-4880-8327-e9e57b618e0e
537,537,2019-11-01 00:03:39 UTC,cart,1005115,2053013555631882655,electronics.smartphone,apple,949.47,565865924,fd4bd6d4-bd14-4fdc-9aff-bd41a594f82e
849,849,2019-11-01 00:05:54 UTC,cart,1002542,2053013555631882655,electronics.smartphone,apple,486.80,549256216,dcbdc6e4-cd49-4ee8-95c5-e85f3c618fa1
956,956,2019-11-01 00:06:38 UTC,cart,1004856,2053013555631882655,electronics.smartphone,samsung,128.42,513645631,61ceaf50-820a-4858-9a68-bab804d47a22

In [12]:
dt['product_id'] == 1005014

0          False
1          False
2          False
3          False
4          False
           ...
9999995    False
9999996    False
9999997    False
9999998    False
9999999    False
Name: product_id, Length: 10000000, dtype: bool

In [13]:
dt2 = pd.DataFrame(dt[dt['event_type']=='purchase'])
dt2.head()

,Unnamed: 0,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
107,107,2019-11-01 00:00:41 UTC,purchase,13200605,2053013557192163841,furniture.bedroom.bed,NaN,566.30,559368633,d6034fa2-41fb-4ac0-9051-55ea9fc9147a
168,168,2019-11-01 00:01:04 UTC,purchase,1005161,2053013555631882655,electronics.smartphone,xiaomi,211.92,513351129,e6b7ce9b-1938-4e20-976c-8b4163aea11d
707,707,2019-11-01 00:04:51 UTC,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,128.42,562958505,0f039697-fedc-40fa-8830-39c1a024351d
811,811,2019-11-01 00:05:34 UTC,purchase,26401669,2053013563651392361,NaN,lucente,109.66,541854711,c41c44d5-ef9b-41b9-9cd6-8d96dda6e927
939,939,2019-11-01 00:06:33 UTC,purchase,1801881,2053013554415534427,electronics.video.tv,samsung,488.80,557746614,4d76d6d3-fff5-4880-8327-e9e57b618e0e

In [14]:
dt[dt['product_id']==1005014]

,Unnamed: 0,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
40,40,2019-11-01 00:00:14 UTC,cart,1005014,2053013555631882655,electronics.smartphone,samsung,503.09,533326659,6b928be2-2bce-4640-8296-0efdf2fda22a
324,324,2019-11-01 00:02:16 UTC,view,1005014,2053013555631882655,electronics.smartphone,samsung,503.09,545503183,3cb2bcb7-e986-46fc-bef2-fc27ff2610c9
626,626,2019-11-01 00:04:12 UTC,view,1005014,2053013555631882655,electronics.smartphone,samsung,503.09,552158913,3489c69c-4a48-4884-8a80-9fc5107e9d0a
768,768,2019-11-01 00:05:16 UTC,view,1005014,2053013555631882655,electronics.smartphone,samsung,503.09,552158913,3489c69c-4a48-4884-8a80-9fc5107e9d0a
1099,1099,2019-11-01 00:07:32 UTC,view,1005014,2053013555631882655,electronics.smartphone,samsung,503.09,540508491,33a0d8f4-c388-4ce7-85f4-7b1f11563d6a
...,...,...,...,...,...,...,...,...,...,...
9995368,9995368,2019-11-07 05:04:51 UTC,view,1005014,2053013555631882655,electronics.smartphone,samsung,497.53,557691257,83a6b37e-e4a1-406a-b434-ba681b650b05
9995904,9995904,2019-11-07 05:05:15 UTC,view,1005014,2053013555631882655,electronics.smartphone,samsung,497.53,557691257,83a6b37e-e4a1-406a-b434-ba681b650b05
9997160,9997160,2019-11-07 05:06:12 UTC,view,1005014,2053013555631882655,electronics.smartphone,samsung,497.53,557691257,83a6b37e-e4a1-406a-b434-ba681b650b05
9999802,9999802,2019-11-07 05:08:11 UTC,view,1005014,2053013555631882655,electronics.smartphone,samsung,497.53,517617967,811ce2d1-5844-4a14-8dac-5259d78b1b05
9999858,9999858,2019-11-07 05:08:14 UTC,view,1005014,2053013555631882655,electronics.smartphone,samsung,497.53,568046480,d41f5ed7-327f-4d18-a0d2-a7ceeeb1ce27

In [15]:
dt_merge = pd.merge(dt1, dt2, left_on='product_id', right_on='product_id')

:

: